/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Tema padrão (modo escuro) */
:root {
  --highlight-color: rgba(255, 255, 255, 0.2);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-houver: rgba(0, 0, 0, 0.02);
  --switch-bg-url: url(assets/moon-stars.svg);
  --text-color: white;

  background-image: url(./assets/bg-desktop.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Tema claro */
.light {
  --highlight-color: rgba(0, 0, 0, 0.1);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-houver: rgba(0, 0, 0, 0.02);
  --switch-bg-url: url(assets/sun.svg);
  --text-color: black;

  background-image: url(./assets/bg-desktop-light.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Elemento <a>  */
a {
  cursor: pointer;
}

/* Corpo do site */
body * {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

/* Container principal */
#conteiner {
  margin: 0px auto;
  max-width: 588px;
  text-align: center;
  width: 100%;
}

/* Perfil */
#profile img {
  border-radius: 50%;
  padding: 24px;
  width: 180px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin: 8px 8px;
}

/* Links sociais */
#social-links {
  display: flex;
  font-size: 24px;
  gap: 16px;
  justify-content: center;
  padding: 24px 0;
}

#social-links a {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
  border-radius: 50%;
}

/* Botão de troca de tema */
#switch {
  margin: 4px auto;
  position: relative;
  width: 64px;
}

#switch button {
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  z-index: 1;
}

/* Botão no modo claro */
.light #switch button {
  left: 0;
  right: initial;
}

#switch span {
  backdrop-filter: blur(4px);
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  display: block;
  height: 24px;
  -webkit-backdrop-filter: blur(4px);
  width: 64px;
}

/* Rodapé */
footer {
  font-size: 14px;
  padding: 24px 0;
}

footer span {
  text-decoration: underline;
}

/* HTML raiz */
html {
  transition: ease-in-out 0.4s;
}

/* Lista de links */
ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 24px 0;
}

ul li a {
  align-items: center;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  font-weight: 500;
  justify-content: center;
  padding: 16px 24px;
  text-decoration: none;
  transition: background 0.2s;
}

/* Hover nos links */
ul li a:hover {
  background: var(--surface-color-houver);
  border: 1.5px solid var(--text-color);
}
